@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@layer base {
  :root {
    --font-display: 'Urbanist', sans-serif;
    --breakpoint-3xl: 1920px;
    --color-primary: #2563EB;
  }

  html {
    font-family: var(--font-display);
  }

  body {
    font-family: var(--font-display);
    background-color: white;
    overflow-x: hidden;
  }
}